.cardProducto {
    background-color: white;
    border-radius: 10px;
    width: 15rem;
    padding: 1rem;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardProducto img {
    width: 200px;
    transition: transform 0.3s ease-in-out;
}
.cardProducto:hover img {
    transform: scale(1.1); 
  }
.btn {
    background-color:#1014c5;
    color: white;
    border-radius: 10px;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    font-family: "montserrat",sans-serif
    ;
}
p {
    margin: 15px;
}
h3 {
    margin: 15px;
}
